[Desktop Entry]
Name=Systemd Manager
Comment=GTK3-based systemd service manager written in Rust.
Icon=preferences-system
Exec=systemd-manager-pkexec
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
Keywords=Systemd;Systemctl;Services;
